doctype 5
html(lang="en")
    head
        title naptime

        link(href="//bootswatch.com/united/bootstrap.min.css", rel="stylesheet")
        link(href="/assets/css/naptime.css", rel="stylesheet")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js")
        script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")
        script(src="/assets/js/semver.js")
        script(src="/assets/js/models/Package.js")
        script(src="/assets/js/models/PackageVersion.js")
        script(src="/assets/js/pagebindings/PackageViewModel.js")
        script(src="/assets/js/pagebindings/RootViewModel.js")
        script(src="/assets/js/app.js")

    body(data-ctx=ctx)
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href="/") naptime dependency viewer

        .container.main

            iframe.pull-right(
                src="http://nodeknockout.com/iframe/woah",
                frameborder="0",
                scrolling="no",
                allowtransparency="true",
                width="115",
                height="25"
                )


            block content

        footer.footer.container
            p.pull-right An <a href="http://nodeknockout.com">NKO</a> project
